@media screen and (min-width: 1200px) {
    #main-container{
        width: 30%;
    }
}


#titre {
    padding-top: 2%;
}

.header-title:hover {
    text-decoration: none;
    color:white;
}

#main-container{
    margin-top: 25px;
}

.text-label{
    color : #008C8C;
}

#reglement-lien{
    color: gray;
}

#submit-btn{
    background-color : #008C8C;   
}

.lightly-colored {
    background-color : #008C8C;
    color: white;
}

.inversely-colored {
    font-size: 22px;
    color : #008C8C;
}

#modalConnexionTitle {
    color: #8C8C8C;
    font-weight: bold;
}
