

#websitesrc{
    font-weight: 400;
    font-family: "Arial Italic", Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: 0px; 
}
h2{
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 140, 140);
    font-size: 15px;
}

p li{
    margin: 0px; 
    font-family: Arial, sans-serif;
    font-weight: 400; 
    font-size: 15px;
}

