.reglement-section{
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    color: #008C8C;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

p {
    margin: 0;
}

.header-title:hover {
    text-decoration: none;
    color:white;
}

#titre {
    padding-top: 2%;
}

.lightly-colored {
    background-color : #008C8C;
    color: white;
}

.inversely-colored {
    font-size: 22px;
    color : #008C8C;
}

#modalConnexionTitle {
    color: #8C8C8C;
    font-weight: bold;
}