/*barre de titre*/
.left-title-div, .right-title-div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15px;
}

.center-title-div{
    width: 60%;
    font-family:'Arial', sans-serif;
}

/*barre de navigation*/
.header-tabs{
    width: 100%;
}


#navigationbar{
    height: 60px;
}

#navigationbar li{
    width: 120px;
}

.active-tab{
    border-bottom: solid 4px white;
}
    


/* @media screen and (min-width: 563px) and (max-width: 1200px) {
    body{
        width: 563px;
        height: 360px;
    }

    // barre de titre
    .left-title-div{
        width: 0%;
    }
    .right-title-div{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 15px;
    }

    .center-title-div{
        width: 80%;
        display: flex;
        font-family:'Arial', sans-serif;
    }

    // navbar et corps
    .body-container{
        display: flex;
        height: 288px;
    }

    #navigationbar{
        flex-direction: column;
        width: 100px;
        height: 100%;
    }

    #navigationbar li{
        flex: 1;
    }


    .active-tab{
        border-left: solid 4px white;
    }
    
}

@media screen and (max-width: 563px) {
    body{
        width: 360px;
        height: 563px;
        overflow-y: auto;
    }

    // barre de titre
    .left-title-div{
        width: 0%;
    }
    .right-title-div{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 15px;
    }

    .center-title-div{
        width: 80%;
        display: flex;
        font-family:'Arial', sans-serif;
    }

    // navbar et corps
    .body-container{
        height: 491px;

    }

    #navigationbar{
        width: 100%;
        height: 60px;
    }

    #navigationbar li{
        flex: 1;
    }


    .active-tab{
        border-bottom: solid 4px white;
    }
    
} */

.title-sign-in{
    display: flex;
}

.btnMember{
    cursor: pointer;
    border: none;
    background-color: rgb(0, 140, 140);
    color:#FFFFFF;
}

.right-title-div i{
    font-size: 2.5rem;
}



.center-title-div h1{
    font-family:'Arial', sans-serif;
    font-weight: 400;
    font-size: 29px;
}

.header{
    height: 72px;
    text-align: center;
    background-color:  rgb(0, 140, 140);
    font-weight:400;
    font-style:normal;
    color:#FFFFFF;
    font-family:'Arial', sans-serif;
    align-self:flex-start;
    padding:0px 5px 0px 5px;
    box-sizing:border-box;
    width:100%;
}


.header-tabs{
    background-color:  rgb(0, 140, 140);
    font-weight:400;
    font-style:normal;
    color:#FFFFFF;
    font-family:'Arial', sans-serif;
}

#navigationbar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(0, 140, 140);
    align-self: flex-start;
    text-align: center;
}

#navigationbar li{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



    
li a {
    align-self: center;
    align-content: center;
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    float: left;
}

.body{
    padding: 5px 0 0 5px;
    overflow-y: auto;
    font-family: Arial;
    font-size: 15px;
    width: 100%;
}