#premierMot {
color: #008C8C;
}

br{
    color:red;
}

#titre {
    padding-top: 2%;
}

.header-title:hover {
    text-decoration: none;
    color:white;
}

.lightly-colored {
    background-color : #008C8C;
    color: white;
}

.inversely-colored {
    font-size: 22px;
    color : #008C8C;
}

#modalConnexionTitle {
    color: #8C8C8C;
    font-weight: bold;
}
